* {
  box-sizing: border-box;
}

header {
    height: 230px;
    padding: 20px 0 70px 0;
    background: #2d6360 50% 0 url("images/BannerImage.JPG") no-repeat;
    background-attachment: fixed, fixed, fixed, scroll;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    text-align: center;
}

#story {
  opacity: .4;
}

#story:hover {
  cursor: not-allowed;
}


.province_banner {
  text-align: center;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  font-family: : "Gill Sans", cursive;
  font-size: 2.5em;
  font-weight: 200;
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 30px;
}

.accomodations_footer {
  text-align: center;
  background-color: #bbb9bd;
  color: #656466;
  font-weight: 600;

}

.province_text {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.5em;

}

.myImages {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.myImages:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}


@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}



input[type=email], input[type=url], input[type=date], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=reset], input[type=submit] {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #45a049;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.row-01 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.row-02 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*for smaller screens such as on smartphones*/
@media screen and (max-width: 800px) {
  .row-01, .row-02, input[type=reset], input[type=submit] {
    width: 100%;
    margin-top: 0;
  }}

@media (orientation: landscape){#hiddenLandscape {

display: none;
}}





